[tool.poetry]
name = "p3dpy"
version = "0.1.0"
description = ""
authors = ["nekanat <nekanat.stock@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
numpy = "^1.20.1"
scipy = "^1.6.1"
fastapi = "^0.63.0"
uvicorn = {extras = ["standard"], version = "^0.13.4"}
Jinja2 = "^2.11.3"
aiofiles = "^0.6.0"
requests = "^2.25.1"
python-lzf = "^0.2.4"
pyrealsense2 = {version = "^2.42.0", optional = true}
matplotlib = {version = "^3.3.4", optional = true}
transforms3d = {version = "^0.3.1", optional = true}
scikit-learn = {version = "^0.24.1", optional = true}

[tool.poetry.dev-dependencies]
black = "^20.8b1"
twine = "^3.4.1"

[build-system]
requires = ["poetry-core>=1.0.0", "setuptools"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.extras]
examples = ["matplotlib", "transforms3d", "scikit-learn", "pyrealsense2"]