*{
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin: 0;
}
body {
    margin: 0;
    color: #ffffff;
    line-height: 1.4em;
    overflow: hidden;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    font-weight: 100;
}
label {
    display: block;
}
#info{
    position: absolute;
    left: 2em;
    top: 1em;
    z-index: 10000;
}
#info h1{
    font-weight: bold
}
#info p{
    margin-bottom: 1em;
}
#info a{
    font: inherit;
    color: inherit;
}